{
  "presets": [
    ["es2015", { "loose": true, "modules": "commonjs" }],
    "react",
    "stage-0"
  ],
  "env": {
    "cjs": {
      "presets": [
        ["es2015", { "loose": true, "modules": "commonjs" }],
        "react",
        "stage-0"
      ],
      "plugins": ["add-module-exports"]
    },
    "es": {
      "presets": [
        ["es2015", { "loose": true, "modules": false }],
        "react",
        "stage-0"
      ]
    }
  }
}