*.log
npm-debug.log*
node_modules
.npm
.vscode

coverage
demo
docs
examples
flow-typed
site
src
tests

.babelrc
.flowconfig
.gitignore
.travis.yml
mkdocs.yml
package-lock.json
webpack.config.babel.js
